html {
  overflow-x: hidden;
}

body {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
  margin: 0;
  overflow: hidden;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.section {
  position: relative;
  visibility: hidden;
}

.wf-active .section.visible,
.wf-inactive .section.visible {
  visibility: visible;
}

.component {
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
