html {
  overflow-x: hidden;
}

body {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
  background-color: #fafafa;
  cursor: default;
  margin: 0;
  overflow: hidden;
  padding: 0 50vw;
  -webkit-user-select: none;
  user-select: none;
}

.section {
  position: relative
}

.component {
  position: absolute;
}
