.s-choice {
  transition: opacity .5s ease-in-out;
}

.s-choice-content {
  background-color: #212121;
  border-radius: 2px;
  box-sizing: border-box;
  color: #212121;
  font-family: Georgia, serif;
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  padding: 24px;
  pointer-events: none;
  transform: translate3d(24px, 24px, 0);
  width: 552px;
}

.s-choice-title {
  color: #fafafa;
}

.s-choice-input {
  display: none;
}

.s-choice-option {
  background-color: #fafafa;
  border-radius: 2px;
  cursor: pointer;
  margin: 24px;
  padding: 12px 18px;
  pointer-events: auto;
  -webkit-transition: background-color .1s ease-in-out;
  transition: background-color .1s ease-in-out;
}

.s-choice-input:checked+.s-choice-option {
  background-color: orange;
  pointer-events: none;
}

.s-choice-input:not(:checked)+.s-choice-option:hover {
  color: #9e9e9e;
}

.s-choice-button {
  display: inline-block;
  height: 48px;
  pointer-events: auto;
  text-decoration: none;
  transform: translate3d(432px, 72px, 0);
  width: 144px;
}

.s-choice-button.disabled {
  opacity: .1;
  pointer-events: none;
}

.s-choice-button:hover {
  opacity: .6;
}

.s-choice-button-image {
  height: 48px;
  pointer-events: none;
  position: absolute;
  vertical-align: middle;
  width: 144px;
}

.s-choice-button-text {
  color: #212121;
  font-family: Georgia, serif;
  font-size: 18px;
  left: 45px;
  letter-spacing: 1px;
  line-height: 48px;
  pointer-events: none;
  position: absolute;
  top: 0;
}
