html {
  overflow-x: hidden;
}

body {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
  background-color: #fafafa;
  font-family: Georgia, serif;
  margin: 0;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}

.section {
  margin: auto;
  overflow: visible;
  position: relative;
  width: 600px;
}

.section.hide {
  opacity: 0;
  transition: opacity .1s ease-in-out;
}

.frame {
  background-color: #fafafa;
  border: 2px solid #212121;
  border-radius: 2px;
  box-sizing: border-box;
  overflow: visible;
  pointer-events: none;
  position: absolute;
  transition: opacity .5s ease-in-out;
}

.frame.hide {
  opacity: 0;
}

.frame-content {
  left: 50%;
  position: absolute;
  top: 50%;
}

.frame-crop {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.caption {
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  z-index: 1;
}

.caption-content {
  background-color: #fafafa;
  border: 1px solid #212121;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 24px;
  overflow: hidden;
  padding: 12px 18px;
  text-align: center;
  white-space: nowrap;
}

.image {
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
}

.image-content {
  display: inline-block;
  vertical-align: middle;
}
