html {
  overflow-x: hidden;
}

body {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
  background-color: #fafafa;
  margin: 0;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}

.section {
  margin: auto;
  overflow: visible;
  position: relative;
  width: 600px;
}

.section.hide {
  opacity: 0;
  transition: opacity .1s ease-in-out;
}
