.s-restart {
  transition: opacity .5s ease-in-out;
}

.s-restart-button {
  background-color: #e0e0e0;
  border: 1px solid #212121;
  border-radius: 24px;
  box-sizing: border-box;
  color: #212121;
  display: block;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 45.5px;
  margin: auto;
  pointer-events: auto;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 48.5px, 0);
  width: 144px;
}

.s-restart-button:active,
.s-restart-button:hover {
  opacity: .6;
}
